{% extends 'page/layout.html.twig' %}

{% block title %}Index Page{% endblock %}
{% block body_id %}content{% endblock %}
{% block body_class %}text-center{% endblock %}
{% block body %}
    <div class=" d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto text-left">
            <div class="inner">
                <img class="logo masthead-brand"  src="{{ asset('assets/page/img/logo.png') }}" alt="bajo olivo">
            </div>
        </header>

        <main role="main" class="cover-container inner cover mr-auto ml-auto ">
            <img class="brand-name cover-heading mb-3" src="{{ asset('assets/page/img/text-logo.png') }}" alt="bajo olivo">
            <p class="font-semi-bold mb-0 lead">{{ 'page.text1'|trans }}</p>
            <p class="font-semi-bold mb-4 lead">{{ 'page.text2'|trans }}</p>
            <p class="lead">
                <a class="button" href="https://eshop.doobalu.cz/Olivovy-olej-c3_0_1.htm" target="_blank">{{ 'page.button'|trans }}</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto pb-4">
            <div class="inner">
                <h3 class="text-white text-center mb-3 font-dala contact font-size-22">{{ 'page.contact'|trans }}</h3>
                <div class="d-flex justify-content-center">
                    <a href="tel:+420737031170" class="lead text-white mr-4 font-size-13">{{ 'page.tel'|trans }}</a>
                    <a href="mailto: eshop@doobalu.cz" class="lead text-white ml-4 font-size-13">{{ 'page.email'|trans }}</a>
                </div>
            </div>

        </footer>
    </div>
{% endblock %}
